@tailwind utilities;

@font-face {
  font-family: "KronaOne";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/krona-one-regular.woff2") format("woff2");
}

@font-face {
  font-family: "AppleSDGothic";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/AppleSDGothicNeoM00.ttf") format("ttf");
}

body {
  width: 480px;
  height: 580px;
  overflow: hidden;
  background: url('./assets/pngs/background.png');
  background-size: cover;

  color: white;
  font-family: 'AppleSDGothic';
  border: none;

  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}

p {
  margin: 0;
}

@theme {
  --color-orange: #FFA600;
  --color-green: #AEFF00;
  --color-gray: #3F3F3F;
  --color-bg: #000C3B;

  --font-krona-one: 'KronaOne';
  --font-apple-gothic: 'AppleSDGothic';
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 900;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}